/*@import "https://cdn.jsdelivr.net/gh/tretapey/raisincss@1.1.0/raisin.min.css";*/
.\.container {
    flex-direction: column;
}
#valintaContainer {
    flex-direction: column;
}

body {
    /*background: rgb(255,255,255);*/
    /*background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 36%, rgba(255,255,255,1) 99%);*/
}

.img-thumbnail {
    height: 100px;
    width: 100px;
}

.viivastoContainer {

}

.panel {
    box-shadow: 2px 4px 4px #888888;
}

#div1 {
    display: block;
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    background-color: aquamarine;
}

.example-parent {
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
}

.example-origin {
    width: 150px;
    padding: 10px;
    display: inline-flex;
}

.example-draggable {
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #DFA612;
}

.example-dropzone {

    background-color: #fff;
    border: 2px solid #337ab7;
    width: 100px;
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
}

.dropzone-container {
    margin-left: 5px;
    width: 1200px;
    height: 45px;
}

#alaContainer {
    /*padding-left: 20%;*/
    background: #ffffff;
    padding-right: 20px;
    border-radius: 4px;
    border: solid 1px #ddd;
}

.hideAlaContainer {
    visibility: hidden;
}

.hideHarmoniaContainer {
    visibility: hidden;
}

.hideSointuContainer {
    visibility: hidden;
}

#div1 {
    display: block;
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    background-color: aquamarine;
}



html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-weight: 300;}

article{width:80%;margin: 10px auto;border:1px solid #ccc;border-radius:5px;}
h1,h2,h3{font-weight:bold;color:#fff;margin-left:10px;}
h1{margin-bottom:10px;font-size:32px;}
h2{font-size:28px;}
h2 a{color:#fff;}
h3{margin-top:10px;font-size:24px;}

header{width:90%;margin:20px auto;padding:10px;overflow:auto;background-color:#008080;}

header img.html5-logo{display:block;float:left;width:100px;}

#content{width:90%;margin:20px auto;clear:left;}

.instructions{ margin: 20px 0;padding:20px;background-color:#ededed;border:4px solid #ccc;border-radius:5px;color:#333;font-size:24px;line-height:28px;}

.instructions a{font-weight:bold;color:#008080;}

.drop-elements{
    overflow: auto;
    display: flex;
    flex-direction: row;
}


.dropElement-chord {
    display:inline-block;
    width:113px;
    margin-right:10px;
    height:40px;
    padding:0%;
    background-color:#337ab7;
    border-radius: 4px;
    border: solid 1px #ddd;
}

.dropElement-harm {
    display:inline-block;
    width:130px;
    margin-right:10px;
    height:40px;
    padding:0%;
    background-color:#337ab7;
    border-radius: 4px;
    border: solid 1px #ddd;
    line-height: 40px;
}

.dropped{}

.dropElement:last-child{margin-right:0;}

.drag-elements{padding-top:15px;overflow: visible;text-align: start;}

.dropElement,.drag-elements,.dragElement{border-radius:5px;}

.dragElement{
    display:inline-block;
    margin: 0 auto;width: 113px;
    height:40px;
    color:black;
    font-weight:bold;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}

.drag-elements .dragElement{margin-right:10px;margin-left: 0px;}

.drag-elements .dragElement:last-child{margin-right:0;}

.dragElement:hover{
    cursor: pointer;
}


.dragEnter{}
.hasChild{
    background-color:#ffffff;
    border: 0;
}

.blueBorder{border-color: black;}

.copyright{margin:20px 0;text-align:center;}

.copyright, .copyright a{font-weight:bold;color:#008080;}

.chordBox{height:160px;display: flex; flex-direction: column}

.tensionBox{height:60px;}
.chordHeader{
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
}

.chordDraggable{
    display:inline-block;
    margin: 0 auto;
    width: 113px;
    height:40px;
    background-color:#bce8f1;
    color:black;
    font-weight:bold;
    text-align: center;
    line-height: 40px;
}

#writeNoteButton{height: 50px; width: 50px; background-color: #337ab7}

#loginContainer{
    display: flex;
    /*align-content: center;*/
    /*flex-direction: column;*/
    /*margin-left: 20%;*/
    justify-content: center;
}

#kirjauduButton{margin-top: 16px}
#rekisteröidyButton{margin-top: 16px}
#loginPassConfirmHide{visibility: hidden}



.netlify-identity-item{
    width: 100px;
    height: 50px;
    background-color: #337ab7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    border: 2px solid black;
    margin-top: 16px;
    line-height: 40px;
}

.netlify-identity-signup{
    color: #ffffff;
}
.netlify-identity-login{
    color: #ffffff;
}

.slideshow-container{
    display: flex;
    /*background-color: #f5f5f5;*/
    width: 400px;
    margin: 15px;
    padding: 15px;
}

.plain-hint-container{
    display: flex;
    background-color: #f5f5f5;
    width: 400px;
    margin: 15px;
    padding: 15px;
}

.hintValContainer{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

/* Slideshow container */
.slideshow-container {
    background-color: #f5f5f5;
    max-width: 1000px;
    position: relative;
    /*margin: auto;*/
    border-radius: 4px;
    border: solid 1px #337ab7;
    margin-bottom: 15px ;
}

#hintBoxtest1 {
    background-color: #f5f5f5;
    max-width: 1000px;
    position: relative;
    border-radius: 4px;
    border: solid 1px #ddd;
}
#hintBoxtest2 {

}
#hintBoxtest3 {
    background-color: #0dcaf0;
    max-width: 1000px;
    position: relative;
    border-radius: 4px;
    border: solid 1px #ddd;
}

#hintBoxtest4 {
    background-color: #a370f7;
    max-width: 1000px;
    position: relative;
    border-radius: 4px;
    border: solid 1px #ddd;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
/*.prev:hover, .next:hover {*/
/*    background-color: #f1f1f1;*/
/*    color: black;*/
/*}*/

#headerLogo{
    width: 50px;
    height: 50px;
}

.tahtiContainer {
    margin-right: 30px;

}

/*#jatkaButton {*/
/*    width: 500px;*/
/*    height: 100px;*/
/*    background-color: #337ab7;*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    font-size: 25px;*/
/*    text-align: center;*/
/*    margin-top: 16px;*/
/*    line-height: 70px;*/
/*    border-radius: 4px;*/
/*    border: solid 1px #ddd;*/
/*}*/
/*#jatkaButton:hover {*/
/*    background-color: #ffffff;*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    font-size: 25px;*/
/*    text-align: center;*/
/*    margin-top: 16px;*/
/*    line-height: 70px;*/
/*    border-radius: 4px;*/
/*    border: solid 2px #337ab7;*/
/*}*/

#rekisteroitumattaButton {
    width: 500px;
    height: 100px;
    /*background-color: #337ab7;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 16px;
    line-height: 95px;
    border-radius: 4px;
    border: solid 1px #ddd;
    text-decoration: none;
    /*justify-content: center;*/
}

#bigNameDiv {
    height: 400px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    /*border-radius: 4px;*/
    /*border-bottom: solid 1px #ddd;*/
    /*border-right: solid 1px #ddd;*/
    /*border-left: solid 1px #ddd;*/
    text-decoration: none;
    background-color: #ffffff;
    /*box-shadow: 0px 1px 1px #aaaaaa;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

strong {
    font-size: 50px;
}

.rekisteroitumatta {
    color: #ffffff;
    background-color: #337ab7;
    border-radius: 4px;

}
.rekisteroitumatta:hover {
    color: #337ab7;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #ffffff;
}

#toDownButton, #toUpButton {
    /*font-size: 18px;*/
    font-weight: bold;
}

.textValContainer {
    width: 50%;
    margin: 15px;
}

#navbarNavAltMarkup {
    line-height: 50px;
}

.mySlides1 {
    padding-left: 50px;
    padding-right: 50px;
}
.mySlides2 {
    padding-left: 50px;
    padding-right: 50px;
}

#jokumuu {
    width: 160px;
}

.btn-group {
    padding-bottom: 5px;
}
.input-group {
    padding-bottom: 5px;
}

#tyylilajinEsittely {
    font-size: 18px;
    padding-top: 2px;
}

#printContainer {
    visibility: hidden;
}

#printTextContainer {
    display: flex;
    flex-direction: row;
}

.seuraavaC {
    background-color: #33B78A;
}

/*@media only screen and (max-width: 1000px) {*/
/*    #alaContainer {*/
/*        padding-left: 2%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 1600px) {*/
/*    #alaContainer {*/
/*        padding-left: 10%;*/
/*    }*/
/*}*/
/*!*@media only screen and (max-width: 1600px) {*!*/
/*!*    #alaContainer {*!*/
/*!*        padding-left: 7%;*!*/
/*!*    }*!*/
/*!*}*!*/
/*@media only screen and (max-width: 2000px) {*/
/*    #alaContainer {*/
/*        padding-left: 17%;*/
/*    }*/
/*}*/

.melodiaIcon {
    height: 30px;
    width: 30px;
}

.fatButtons {
    height: 44px;
}

#clearChordsButton {
    margin-bottom: 15px;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.aboutPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aboutPersonContainer {
    display: flex;
    justify-content: space-between;
    /*flex-direction: column;*/
    /*background-color: #f5f5f5;*/
    width: 400px;
    height: 217px;
    margin: 15px;
    padding: 15px;
    background-color: #f5f5f5;
    max-width: 1000px;
    position: relative;
    /*margin: auto;*/
    border-radius: 4px;
    border: solid 1px #ddd;
    /*box-shadow: 5px 5px 3px #aaaaaa;*/
    box-shadow: 0px 1px 1px #aaaaaa;
}

.aboutBoxContainer {
    display: flex;
    flex-direction: column;
    /*background-color: #f5f5f5;*/
    width: 400px;
    height: 400px;
    margin: 15px;
    padding: 15px;
    background-color: #f5f5f5;
    max-width: 1000px;
    position: relative;
    /*margin: auto;*/
    border-radius: 4px;
    border: solid 1px #ddd;
    /*box-shadow: 5px 5px 3px #aaaaaa;*/
    box-shadow: 0px 1px 1px #aaaaaa;
}

.profilePic {
    width: 150px;
    height: 184px;
    border-radius: 4px;
    border: solid 1px #337ab7;
    /*box-shadow: 5px 5px 3px #aaaaaa;*/
    box-shadow: 0px 1px 1px #aaaaaa;
}

.donateButton {
    border-radius: 4px;
    border: solid 1px #337ab7;
    background-color: #337ab7;
    height: 65px;
    width: 372px;
}

.aboutHeader{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding-right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-link {
    padding-right: 70px;
    text-decoration: none;
}

footer {
    /*position: absolute;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: #337ab7;
    color: white;
}

