<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="icon" href="../img/Tomusäppi_web_icon_FINAL.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand navbar-dark bg-primary" href="../index.html">Tomusäppi BETA</a>
        <!--                <img src="../img/Tomusäppi_web_icon_FINAL.png" id="headerLogo">-->
    </div>
    <div class="container">
        <div class="navbar-light " id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link active navbar-dark bg-primary" aria-current="page" href="../index.html">
                    Aloitussivu
                    <img src="../img/Tomusäppi_icons/koti_icon.png" class="melodiaIcon">
                </a>
                <a class="nav-link navbar-dark bg-primary" href="home.html">
                    Uusi sävellys
                    <img src="../img/Tomusäppi_icons/uusi_icon.png" class="melodiaIcon">
                </a>
                <a class="nav-link navbar-dark bg-primary" href="about.html">
                    Tietoa meistä
                    <img src="../img/Tomusäppi_icons/info_icon.png" class="melodiaIcon">
                </a>
                <a class="nav-link disabled navbar-dark bg-primary" href="#" tabindex="-1" aria-disabled="true"></a>
            </div>
        </div>
    </div>
</nav>

<div class="aboutPageContainer">
    <div class="aboutContainer">
        <div class="aboutBoxContainer">
            <div>
                <p class="aboutHeader">Mikä tomusäppi on?</p>
                <p>Tomusäppi on verkkosivu, jonka avulla harjoitellessa käydään läpi tyylilajiin, sävellajiin, harmoniaan, sekä melodiaan liittyviä seikkoja.
                    Näin ollen kehitetään ymmärrystä tonaalisesta musiikista mahdollisimman kokonaisvaltaisesti.</p><p>
                Tomusäppiä voi käyttää esimerkiksi teoria-, yhtye-, ja instrumenttitunneilla, yksin tai ryhmässä, kotona tai koulussa.</p><p>Alun perin idea verkkosivusta tuli huomatessani
                tonaalisen musiikin ominaispiirteiden selkiytyneen minulle sävellyksiä tehdessä. Musiikin ilmiöiden käytännönläheinen pyörittely on osoittautunut varsin toimivaksi opiskelumetodiksi.
                Tämän verkkosivun tavoitteena on tuoda esiin kyseinen metodi mahdollisimman yksinkertaisella tavalla.</p><p>- Jussi</p>
            </div>
        </div>
        <div class="aboutPersonContainer">
            <div>
                <p class="aboutHeader">Otto</p>
                <p>Tietotekniikan opiskelija, musiikin harrastelija sekä kahvin hörppijä.</p>
                    <p>Vastaan sivuston teknisestä toteutuksesta.</p>
            </div>
            <img src="../img/profilePic_Otto2.jpg" alt="Otto" class="profilePic">
        </div>

    </div>
    <div class="aboutContainer">
        <div class="aboutPersonContainer">
            <div>
                <p class="aboutHeader">Jussi</p>
                <p>Muusikko, säveltäjä sekä instrumenttipedagogian opiskelija.</p><p>Vastaan sivuston suunnittelusta ja kahvin keittämisestä.</p>
            </div>
            <img src="../img/Profiilikuva.png" alt="Jussi" class="profilePic">
        </div>

        <div class="aboutBoxContainer">

            <div>
                <p class="aboutHeader">Tue toimintaamme</p>
                <p>Alta voit voit kuunnella kehittäjämme Jussin tekemää musiikkia.
                    Klikkaamalla kappaleen nimeä, pääset sivustolle josta voit ostaa hänen musiikkiaan haluamallasi summalla.
                    Kaikki tuotot käytetään tomusäpin kehittämiseen.</p>
            </div>
            <iframe style="border: 0; width: 100%; height: 42px;"
                    src="https://bandcamp.com/EmbeddedPlayer/album=3162313017/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/"
                    seamless><a href="https://jhqmusic.bandcamp.com/album/pathfinder">Pathfinder by JHQ</a></iframe>
        </div>
    </div>
</div>

<footer>
    <div>
        <small>Copyright &copy; Jussi & Otto 2021</small>
    </div>
</footer>
</body>
</html>