<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valmis sävellys</title>
    <script src="https://unpkg.com/vexflow/releases/vexflow-debug.js"></script>
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="icon" href="../img/Tomusäppi_web_icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div ></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="../components/valinta.js"></script>
<!--<script src="../vex2.js"></script>-->
<script src="../models/keyModel.js"></script>
<script src="../models/hintModel.js"></script>
<script src="../controllers/testi.js"></script>
</body>
</html>