<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Add React in One Minute</title>
    <link href="css/styles.css">
</head>
<body>
https://webdesignerwall.com/wdw-snippet/bootstrap-accordion-based-on-buttons


<div class="example-parent">
    <div class="example-origin">
        <div
                id="draggable-1"
                class="example-draggable"
                draggable="true"
        >
            Toonika
        </div>
    </div>

    <div
            class="example-dropzone"
    >
        dropzone
    </div>
</div>


<div
        class="example-dropzone"
        ondragover="onDragOver(event);"
        ondrop="onDrop(event);"
>
    Tahti 1
</div>
<div
        class="example-dropzone"
        ondragover="onDragOver(event);"
        ondrop="onDrop(event);"
>
    Tahti 2
</div>
<div
        class="example-dropzone"
        ondragover="onDragOver(event);"
        ondrop="onDrop(event);"
>
    Tahti 3
</div>
<div
        class="example-dropzone"
        ondragover="onDragOver(event);"
        ondrop="onDrop(event);"
>
    Tahti 4
</div>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->

<!-- Load our React component. -->
<script src="testi.html"></script>


</body>
</html>